body{
	background-color: rgba(70,230,250,.4);
}
.header{
	padding: 15px;
	font-size: 13pt;
	background-color: rgba(255,64,64, .8);
	margin-left: -20px;
	margin-right: -20px;
}
.eye-img{
	margin-right:auto;
	margin-left:auto;
	width: 11.5%;
	opacity: .5;
}
.sub-head{
	font-size: 30pt;
	color: black;
	float: left;
	padding-top: 5px;
	margin-left: 40px;
}
.feed{
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 10px;
	max-height: 90vh;
	background-color: rgba(255,255,255,.5);
	overflow-y: scroll;
	background-color: rgba(64,230,250,.8);
	padding-bottom: 10px;
}
.feed-poem{
	font-size: 8pt;
}

.stylish-thumb-cont{

}
.feed-entry{
	box-sizing: border-box;
	margin-top: 20px;
	display: inline-block;
	margin-left: -50px;
}

.new-image-cont{
}

.new-image {
    max-width: 100%;
    margin-top: 10px;
    height: auto;
    width: auto\9; /* ie8 */
}
.new-poem{
	float: left;
}
.new-form{
	margin-top: 20px;
}
.btn-new-form{
	margin-top: 10px;
}
.outer-cont{
	max-height: 100vh;
	width: auto;
}
/*.new-cont{
	height: 100vh;
}*/
