body{
	background-color: rgba(70,230,250,.4);
}
.header{
	padding: 10px;
	font-size: 24pt;
	background-color: rgba(255,64,64, .8);
	margin-left: -20px;
	margin-right: -20px;
}
.feed{
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 10px;
	max-height: 100vh;
	background-color: rgba(255,255,255,.5);
	overflow-y: scroll;
	background-color: rgba(64,230,250,.8);
	padding-bottom: 10px;
}
.feed-poem{
	font-size: 8pt;
}

.styish-thumb-cont{

}
.feed-entry{
	box-sizing: border-box;
	margin-top: 20px;
	display: inline-block;
	margin-left: -50px;
}

.new-image-cont{
}

.new-image {
    max-width: 100%;
    margin-top: 10px;
    height: auto;
    width: auto\9; /* ie8 */
}
.new-poem{
	float: left;
}
.new-form{
	margin-top: 20px;
}
.btn-new-form{
	margin-top: 10px;
}
